/* 头部样式 */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 125px;
    width: 100%;
    padding: 25px 40px 0 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s;
    z-index: 1000;
}

.header_down {
    height: 75px;
    padding: 0 40px;
    background: rgba(0, 0, 0, 0.5);
}

.icon {
    height: 30px;
    margin-top: 25px;
}

header .links {
    float: right;
    color: #fff;
    line-height: 75px;
    font-size: 16px;
}

.link_item_active {
    color: #FFFFFF !important;
}

.link_item:hover {
    color: #34fefa;
}

.link_item:not(:first-child) {
    margin-left: 40px;
}

/* 内容 */

.block {
    position: relative;
    width: 100%;
}

.block .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* 第一块 */

.item1 {
    height: 700px;
    /*background: url("http://ovn188pj2.bkt.gdipper.com/bg1.jpg") no-repeat;*/
    background: url("../imgs/bg1@2x.png") no-repeat;
    background-size: cover;
}

.item1 .content {
    width: 820px;
    height: 200px;
    color: #fff;
    font-size: 56px;
    text-align: center;
}

.item1 .button {
    position: relative;
    top: 40px;
    margin-top: 20px;
    padding: 10px 40px;
    border: 1px #6c6b69 solid;
    font-size: 16px;
    border-radius: 3px;
    transition: all 0.8s;
}

.button_hover {
    background: #FCAB28;
    border: 1px rgba(0, 0, 0, 0) solid!important;
}

/* 第二块 */

.item2 {
    background: url("../imgs/bg2@2x.png") no-repeat;
    background-size: cover;
}

.item2 .content {
    width: 70%;
    margin-left: 15%;
    color: #fff;
    font-size: 40px;
    padding: 65px 0;
}

.item2 .title {
    margin-top: 40px 0;
    font-weight: 100;
}

.item2 .dec {
    background: rgba(0, 213, 255, 0.1);
    border-radius: 5px;
    margin: 40px 0;
    padding: 30px 40px;
}

.item2 .subtitle {
    font-size: 22px;
    color: #FCAB28;
}

.item2 .text {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 5px 0;
}

/* 第三块 */

.item3 {
    background-color: #1c1c1c;
}

.item3 .content {
    width: 70%;
    margin-left: 15%;
    color: #fff;
    font-size: 20px;
    padding: 65px 0;
}

.item3 .title {
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 65px;
}

.item3 .subtitle {
    font-weight: 300;
    font-size: 30px;
    color: #FCAB28;
}

.item3 .text {
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    margin: 20px 0;
    opacity: 0.5;
}

/* 第四块 */

.item4 {
    background-color: #141514;
}

.item4 .content {
    width: 70%;
    margin-left: 15%;
    color: #fff;
    font-size: 20px;
    padding: 65px 0
}

.item4 .title {
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 65px;
}

.item4 .subtitle {
    font-weight: 200;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.6;
}

.item4 .img_container {
    position: relative;
    margin: 60px 0;
    height: 600px;
    width: 100%;
    text-align: center;
}

.item4 .img_container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.item4 .contain {
    border-top: #2b2c2b 1px solid;
    display: flex;
    padding-top: 80px;
    padding-bottom: 50px;
}

.item4 .contain .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.item4 .contain .item:not(:last-child){
    margin-right: 20px;
}

.item4 .contain .item img {
    width: 55px;
}

.item4 .contain .item .mini_title {
    font-size: 28px;
    font-weight: 200;
    margin: 25px 0 20px 0;
}

.item4 .contain .item .line {
    width: 60px;
    height: 4px;
    background: #34fefa;
    border-radius: 3px;
    margin-bottom: 30px;
}

.item4 .contain .item .dec {
    opacity: 0.5;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
}

.item5 {
    background: url("http://ovn188pj2.bkt.gdipper.com/bg3.jpg") no-repeat;
    background-size: cover;
    user-select: none;
    padding-bottom: 120px;
}

.item5 .content {
    width: 70%;
    margin-left: 15%;
    color: #fff;
    font-size: 20px;
    padding: 65px 0 0 0;
}

.item5 .title {
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 65px;
}

.item5 .title2 {
    margin-top: 80px;
    border-top: #2b2c2b 1px solid;
    font-weight: 200;
    font-size: 40px;
    padding: 65px 0;
}

.item5 .swiper_cards {
    width: 100%;
    display: flex;
}

.item5 .card {
    flex: 1;
    position: relative;
    background: rgba(24, 24, 24, 0.8);
    padding-bottom: 10px;
    min-height: 158px;
}

.item5 .radius{
    overflow: hidden;
    border-radius: 4px;
}

.item5 .advisors {
    padding-top: 10px;
}

.item5 .card:not(:last-child) {
    margin-right: 20px;
}

.item5 .card .avator {
    width: 100%;
}

.item5 .card .name {
    font-family: "HelveticaNeue-Bold";
    font-weight: 600;
    font-size: 20px;
    color: #FCAB28;
    line-height: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 24px;
}

.item5 .card .job {
    font-size: 15px;
    color: #36ffff;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.item5 .card .dec {
    font-size: 12px;
    color: #8a8a8a;
    line-height: 20px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 24px;
}

/* 第六块 */

.item6 {
    height: 640px;
    background-color: #141514;
}

.item6 .content {
    height: 640px;
    width: 70%;
}

.item6 .title {
    font-weight: 200;
    font-size: 40px;
    margin: 65px 0;
    color: #fff;
}

.item6 .subtitle {
    position: absolute;
    top: 320px;
    transform: translateY(-50%);
    left: 0;
    font-weight: 400;
    font-size: 20px;
    color: #FCAB28;
}

.item6 .icon{
    position: absolute;
    width: 42px;
    height: 32px;
    top: 307px;
    right: 427px;
    z-index: 1;
}

.item6 .bg {
    position: absolute;
    top: 0;
    right: 15%;
    height: 640px;
    width: 960px;
    background: url("../imgs/pic_map@2x.png") no-repeat;
    background-size: cover;
}

/* footer */

footer {
    height: 60px;
    line-height: 60px;
    width: 100%;
    color: #a2a2a2;
    background: #030303;
    text-align: right;
    box-sizing: border-box;
    font-size: 14px;
    padding-right: 200px;
}

/* swiper */

.swiper-button-next {
    opacity: 0.2;
    right: -85px;
    background-image: url("../imgs/next.png");
    transform: scaleY(0.7);
}

.swiper-slide{
    box-sizing: border-box;
    padding: 0 15px;
}

.swiper-button-next:hover{
    opacity: 1;
}

.swiper-button-prev {
    opacity: 0.2;
    left: -85px;
    background-image: url("../imgs/pre.png");
    transform: scaleY(0.7);
}

.swiper-button-prev:hover {
    opacity: 1;
}